/* mobile responsive styles */

@media screen and (max-width: 425px) {
    
    /* nav responsive */

    .nav-container{
        flex-direction: column;
    }

    .logo-container{
        width: 60%;
        margin-top: 20px;

    }

    .nav-items-container{
        flex-direction: column;
        width: 100%;
    }

    .nav-items-container a{
        margin-top: 20px;
    }


    /* banner responsive */

    .banner-container {
        flex-direction: column;
        justify-content: center;
        margin: 10px auto;
        padding: 0;
    }

    .banner-img{
        width: 100%;
        margin: 5px auto;
    }

    .banner-text{
        width: 100%;
        margin: 5px auto;
        text-align: center;
    }

    .banner-img img {
        width: 100%;
        padding: 0;
    }

   

    
}









/* tablet responsive styles */

@media screen and (min-width: 426px) and (max-width: 768px) {
    
        /* nav responsive */

        .nav-container{
            flex-direction: column;
        }
    
        .logo-container{
            width: 50%;
            margin: 20px auto;
        }
    
        .nav-items-container{
            flex-direction: column;
            width: 50%;
           
        }
    
        .nav-items-container a{
            padding-top: 20px;
        }


        /* banner responsive */

        .banner-container {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 90%;
            margin: 0 auto;
            padding: 0;
        }

        .banner-text{
            width: 80%;
            margin: 5px auto;
            text-align: center;
        }

        .banner-img{
            width: 80%;
            text-align: center;
        }
    
       
}