@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@400;600;700;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* nav styles starts */

.nav-container{
    max-width: 1440px;
    width: 90%;
    margin: 50px auto;
    min-height: 50px;
    display: flex;
    align-items: center;
}

.logo-container{
    display: flex;
    width: 50%;
}

.logo-container h2{
    font-size: 40px;
    font-weight: 700;
    color: #0B0223;
}

.game{
    color: #F144AE;
}

.logo-container img{
    object-fit: cover;
    margin-right: 20px;
}

.nav-items-container{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-items-container a{
    text-decoration: none;
}

.nav-items-container a button{
    width: 250px;
    height: 60px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.fa-brands{
    padding: 10px;
    font-size: 20px;
}


/* nav styles end */